In [1]:
#for loop works with sequence i.e list,tuple...

x=["reema",8.0,6,8,9]   #we are using for with list
for i in x:      #onebyone fetching the value 
    print(i)

reema
8.0
6
8
9

In [1]:
x="giraffe"   #we are using for with string
for i in x:      #onebyone fetching the value 
    print(i)
    
#another way above ex
for i in "reema":      #onebyone fetching the value 
    print(i)
#printing 1 to 10
for i in range(10):      #onebyone fetching the value 
    print(i)
    
#if u want to print middle numbers 
for i in range(21,31,2):      #here 2 is difference we can use 1,2,3...here we used starting point,ending point and iteration
    print(i)

g
i
r
a
f
f
e
r
e
e
m
a
0
1
2
3
4
5
6
7
8
9
21
23
25
27
29

In [6]:
#if  u want to print numbers in reverse

for i in range(76,67,-3):      #- indicates in descending order we can write -1,-2...
    print(i)
    
#which is divisble by 5 i dont want to print
for i in range(2,20): 
    if i%5!=0:   #if we want which is divisible by 5 then replace != -> ==
        print(i)

76
73
70
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [25]:
#break,continue,pass
available = 5
x=int(input("enter how many canies you want"))
i=1
while i<=x:
    if i>available:
        print("out of stock")
        break
    print("candy")
    i+=1
    
print("sorry enough candies are not there")


#another ex..in this we want to print the number 4
for i in range(10):
    if i==4:
        break                   #here from 4 it is not continuing
    print ("reema",i)

enter how many canies you want8
candy
candy
candy
candy
candy
out of stock
sorry enough candies are not there
reema 0
reema 1
reema 2
reema 3

In [24]:
#continue-skip the condition and continue with next iteration 
#here we are taking ex i.e we dont want to divisible by 3 or 5

for i in range(1,10):
    if i%3==0 or i%5==0:   #if u want to eliminate both it is divisble by 3 and 5 then we should write i%3==0 and i%5==0
        continue
    print(i)
print("bye reema")
#another ex..in this we want to print the number 4
for i in range(6):
    if i==4:
        continue   #here except 4 everything is printing
    print ("reema",i)

1
2
4
7
8
bye reema
reema 0
reema 1
reema 2
reema 3
reema 5

In [20]:
#pass-skip the condition or for empty function or to ski
#we dont want to print odd numbers
for i in range(2,10):
    if(i%2!=0):
        pass
    else:
        print ("reema",i)
print("bye reema")

reema 2
reema 4
reema 6
reema 8
bye reema

In [6]:
for i in range(4):
    for j in range(4):
        print("#",end="")
    print()

####
####
####
####

In [8]:
for i in range(4):
    for j in range(i+1):
        print("#",end="")
    print()

#
##
###
####

In [18]:
for i in range(4):
    for j in range(4-i):
        print("#",end="")
    print()

####
###
##
#

In [19]:
#for else
nums=[2,87,89,90,76,85]
#we r finding in given sequence the number is divisble by 5
for num in nums:
    if(num%5==0):
        print(num)
        break   #break is used when you want to get first number which is divisible by 5 
else:    #else is done when no num is divisble by 5
    print("not found")

90

In [16]:
#prime or not

num=int(input("enter a no"))
for i in range(2,num):
    if num%i==0:
        print("not prime")
        break
else:
    print("prime")

enter a no9
not prime

In [7]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [30]:
def triangle(n):
    k=n-1
    for i in range(0,n):
        for j in range(0,k):
            print(end=" ")
        k-=1
        for j in range (0,i+1):
            print("*",end=" ")
        print()
n=int(input())
triangle(n)

5
    *
   * *
  * * *
 * * * *
* * * * *

In [11]:
def triangle(n):
    k=n+1
    for i in range(0,n):
        for j in range (0,i+1):
            print("*",end='')
        k+=1
        print()
n=int(input())
triangle(n)

5
*
**
***
****
*****

In [49]:
def triangle(n):
    for i in range(n,0,-1):
        for j in range(0,n-i):
            print(end=" ")
        for j in range (0,i):
            print("*",end=" ")
        print()
n=int(input())
triangle(n)

5
* * * * *
 * * * *
  * * *
   * *
    *

In [47]:
def triangle(n):
    for i in range(0,n):
        for j in range(0,n-1):
            print(end=" ")
        n-=1
        for j in range (0,i+1):
            print("*",end=" ")
        print()
n=int(input())
triangle(n)

6
     *

     * *

     * * *

     * * * *

     * * * * *

     * * * * * *

In [44]:
n=int(input())
for i in range(n,0,-1):
    for j in range(0,n-i):
        print(end=" ")
    for j in range (0,i):
        print("*",end=" ")
    print()

5
* * * * *
 * * * *
  * * *
   * *
    *